
{% extends 'base.html' %}

{% load django_bootstrap5 %}
{% block content %}
<h1> Reset Your Password </h1>
<p>To reset your password enter your email and click submit.  if your account exists you should receive an email with
instructons to reset your password.</p>

<p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam
folder.</p>
<form method="POST">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% bootstrap_button button_type="submit" content="Submit" %}

</form>
{% endblock content %}
